<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="DebugView"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ColorFragmentsActivity"
            android:exported="false"
            android:label="Color Fragments" />

        <activity
            android:name=".AppCompatDialogPopupDemoActivity"
            android:exported="false"
            android:label="AppCompat Dialog Popup Demo" />

        <activity
            android:name=".PlatformFragmentDialogPopupDemoActivity"
            android:exported="false"
            android:label="Platform Fragment Dialog Popup Demo" />

        <activity
            android:name=".monitor.DebugMonitorActivity"
            android:exported="false"
            android:label="JVMTI Monitor Demo" />

        <activity
            android:name=".DiskOperationDemoActivity"
            android:exported="false"
            android:label="Disk Operation Demo" />

        <activity
            android:name=".OschinaApiActivity"
            android:exported="false"
            android:label="OSChina API Demo" />

    </application>

</manifest>
